{% extends "base.html" %}
{% block title %}Каталог книг{% endblock %}

{% block content %}
    <div class="container">
        <h1><a href="/books">Каталог</a></h1>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: <a href="{% url 'books_by_date' book.pub_date %}">{{ book.pub_date }}</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
